# Server
API_PORT=3000
HOST=0.0.0.0
API_PREFIX=/api/v1
NODE_ENV=development

# Database
DATABASE_URL=postgresql://postgres:postgres123@localhost:5433/huetransfers_db

# CORS
CORS_ORIGIN=*

# Swagger
SWAGGER_ENABLE=1

# Auth
JWT_SECRET=your-super-secret-key-min-32-characters-long
JWT_ISSUER=huetransfers-api

# Health
HEALTH_TOKEN=
